:root{
    --bgg-color: #F9E6DC; 
    --txt-color: #464545; 
    --link-color: rgb(0, 0, 0); 
    --link-hover-color: rgb(119, 118, 118);
    --detail-color: #f3868b; 
}

@font-face {
    font-family: abril;
    src: url(font/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(font/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: open-sans;
}

body{
    background-image: url(./img/bgg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Nav css start */

.nav-container{
    position: relative;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--link-hover-color);
}

.logo {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin-bottom: 10px;
    
}

/* Nav css slut */

/* Home css start */

.intro {
    text-align: center;
    margin-top: 100px;

}

.intro h1{
    font-family: abril;
    font-size: 80px;
    color:var(--txt-color);
    margin-bottom: 20px;

}

span{
    color: var(--detail-color);
    font-family: abril;
    
}

.services{
    margin-top: 180px;
}

.services h2{
    text-align: center;
    margin: 50px;
    color:var(--txt-color);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box h3{
    margin-bottom: 50px;
    color: var(--txt-color);
    font-family: abril;
    color: var(--detail-color);
    text-shadow: 2px 2px var(--bgg-color);
}

.design, .editing, .some{
    border: 3px solid #464545;
    border-radius: 20px;
    padding: 40px;
    margin: 10px;
    text-align: center;
    width: 200px;
    height: 250px;

}

/* Home css slut */

/* Portfolio css start */

.work{
    margin-top: 60px;
}

.work ul li{
    margin: 30px;
    list-style: none;
}

.work ul li a{
    font-size: 60px;
    text-decoration: none;
    color: var(--txt-color);
    font-weight: bold;
    font-style: italic;
    text-shadow: 5px 5px var(--bgg-color);

}

.work ul li a:hover {
    color: var(--detail-color);
}


/* About css start */


.img-me{
    display: block;
    border-radius: 20px;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.info{
    margin: 30px;
}


.info a {
    background-color: var(--bgg-color);
    color: var(--txt-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 100px;
    font-weight: bold;
    border: 2px solid var(--detail-color);
    box-shadow: 4px 4px var(--detail-color);
}

.info a:hover{
    color: var(--detail-color);
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h3{
    margin-bottom: 50px;
    color: var(--txt-color);
    font-family: abril;
    color: var(--detail-color);
    text-shadow: 2px 2px var(--bgg-color);
}

.skills, .experience {
    border: 3px solid #464545;
    border-radius: 20px;
    padding: 50px;
    margin: 10px;
    width: 200px;
    height: 250px;
}

/* About css slut */

/* Footer */

footer{
    color: #464545;
    background-color:  #F9E6DC;
    text-align: center;
    padding: 21px;
    height: 140px;
}

@media screen and (min-width: 720px) {

    nav{
        flex-direction: row;
    }

    .intro h1{
        font-size: 100px;
    }

    .box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .design, .editing, .some{
        margin: 30px;
    }

    .info {
        margin-left: 200px;
        margin-top: 200px;
    }
    .info p{
        width: 650px;
    }

    .img-me{
        float: right;
        margin: 100px 200px 100px 30px;
    }

    .clr{
        clear: both;
    }


    .work{
        margin: 200px;
    }

    .work ul li a{
        font-size: 100px;
        
    }
    .about{
        flex-direction: row;
        justify-content: center;
    }

    .skills, .experience{
        margin: 30px;
    }


}
